*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#111;
color:white;
overflow:hidden;
}

.scene{
display:none;
width:100vw;
height:100vh;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.scene.active{
display:flex;
}

.card{
background:rgba(255,255,255,0.1);
padding:20px;
border-radius:20px;
max-width:500px;
width:90%;
}

button{
padding:12px 20px;
margin:10px;
border:none;
border-radius:20px;
cursor:pointer;
}

#yes{background:pink;}
#start{background:hotpink;}
#album{background:deeppink;}

#no{
position:fixed;
background:#ccc;
}

#memImg{
width:100%;
border-radius:10px;
}

#viewer{
position:fixed;
inset:0;
background:black;
display:none;
justify-content:center;
align-items:center;
}

#viewer img{
max-width:90%;
max-height:90%;
}

#grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:10px;
}

#grid img{
width:100%;
border-radius:10px;
}
